.plusButton {
	position: absolute;
	left: 50%;
	bottom: 48px;
	translate: -50% 0;
	width: 56px;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border-radius: 100%;
	border: 2px solid var(--border);
	cursor: pointer;
}

.chips {
	position: absolute;
	left: 50%;
	bottom: 48px;
	translate: -50% 0;
	display: flex;
	cursor: pointer;
	gap: var(--radius-sm);
	padding: 8px 12px;
	align-items: center;
	font-weight: 600;
	background-color: var(--bg);
	border: 2px solid var(--border);
	border-radius: var(--radius-xxl);
	box-shadow: var(--shadow-sm);
}

.chips svg {
	stroke: var(--icon);
}
