/* container */
.container {
	padding: 6px;
	min-width: 220px;
	border-radius: var(--radius-xl);
	box-shadow: var(--shadow-sm);
	background-color: var(--bg);
	user-select: none;
}

/* header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 8px;
	padding-block: 8px 10px;
}

.headerLabels h1 {
	font-size: 12px;
	line-height: 90%;
}

.headerLabels p {
	font-size: 10px;
	letter-spacing: 0.3px;
}

/* settings */
.settings {
	background-color: var(--surface);
	border-radius: var(--radius-lg);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.mode {
	background-color: var(--bg);
	width: calc(100% - 12px);
	margin: 6px;
	border-radius: var(--radius-md);
	font-size: 10px;
	font-weight: 500;
	color: var(--text-secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	cursor: pointer;
}

/* temperature */
.temperature {
	background-color: var(--surface);
	padding: 6px;
	border-radius: var(--radius-lg);
	width: 100%;
	display: flex;
}

.temperatureLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;
	font-weight: bold;
	font-size: 20px;
}

.temperatureButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	border-radius: var(--radius-md);
	background: white;
	color: var(--text);
	border: none;
}

.temperatureButton:disabled {
	opacity: 0.2;
	cursor: auto;
}

/* ac modes */
.acModes {
	display: flex;
	gap: 6px;
	background-color: var(--surface);
	border-radius: var(--radius-md);
	margin-bottom: 10px;
	padding: 1px;
}

.acModeButton {
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	border: none;
	background: none;
	cursor: pointer;
}

.acModeIndicator {
	position: absolute;
	inset: 0;
	border-radius: var(--radius-md);
	background: var(--bg);
}

/* manual settings */
.manualSettings {
	width: calc(100% - 2px);
	background-color: var(--bg);
	border-radius: var(--radius-lg);
	margin-inline: 1px;
	margin-bottom: 1px;
}

.fanSpeed {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 10px;
	color: var(--text-secondary);
	font-weight: 500;
	padding-left: 8px;
}
